.container{
    margin-right: auto !important;
    margin-left: auto !important;
    width: 70%;
}
.pf_user{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pf_user img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.pf_user .name label{
    font-weight: 600;
    font-size: 16px;
}
.pf_user .name .time label{
    color: #262e3c;
    font-weight: 400;
    font-size: 12px;
}
.pf_user .name{
    padding-left: 8px;
}
.thumail {
    width: 100%;
    height: 380px;
}
.thumail img{
    width: 100%;
    height: 380px;
    object-fit: cover;
}
.article_title h1{
    font-size: 32px;
    font-weight: 800;
    margin-top: 20px;
}
.pf_pre{
    padding: 10px;
}
.pf_pre .btn_flw{
    width: 100%;
    border-radius: 4px;
    height: 38px;
    background-color: #38a7c8;
    border-color: #38a7c8;
    color: #fff;
}
.pf_pre .btn_flw:hover{
    border-color: #38a7c8;
    background-color: #fff;
    color: #38a7c8;
}
.nav_left{
    list-style: none;
    text-align: center;
    justify-content: center;
    width: 100%;
}
.nav_left .btn_box{
    margin-top: 24px;
}
.nav_left .btn_box .btn_like{
    border: transparent;
    background: transparent;
}
.nav_left .btn_box .btn_share{
    background: transparent;
}
.nav_left .btn_box .btn_like:hover{
    background-color: #38a7c8;
    border: #38a7c8;
    color: #fff;
}
.nav_left .btn_box .btn_share:hover{
    background-color: #fec24a;
    border: #fec24a;
    color: #fff;
}
.nav_left .btn_box .tt_like{
    padding-top: 4px;
    font-weight: 500;
    font-size: 13px;
}
.nav_left .btn_box .tt_share{
    padding-top: 4px;
    font-weight: 500;
    font-size: 13px;
}