@import "~antd/dist/antd.css";
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght00&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.container {
  margin-right: auto !important;
  margin-left: auto !important;
  width: 60%;

  /* margin: auto; */
}

/* =================Navbar=============== */
.logo {
  color: white;
  float: left;
  height: 50px;
  position: relative;
  top: 3px;
}
.logo-mobile {
  height: 55px !important;
  margin-top: 0 !important;
  position: absolute;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  left: 50%;
}
.left-bar {
  float: right;
}
.header {
  background-color: #262e3c;
}
.ant-menu {
  background-color: transparent;
  color: white !important;
  font-weight: bold;
  font-size: 17px;
}
.ant-menu-horizontal > .ant-menu-item {
  border-bottom: 0px !important;
  top: 0px;
}
.ant-menu-horizontal > .ant-menu-item a {
  /* color: #001529; */
  font-weight: 600;
}
.ant-menu-horizontal > .ant-menu-item-selected {
  /* color: black; */
  border: none;
}
.ant-menu-horizontal {
  line-height: 60px;
  border-bottom: 0px !important;
}
.is-active {
  color: #fce24a !important;
}
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #fce24a !important;
}
.ant-menu-horizontal > .ant-menu-item a {
  color: #ffffff;
}

/* =================HomePage================ */

.index-banner {
  background-image: url("/assets/images/banner-bg.jpg");
  height: 30vh;
  /* background-image: url(/images/VA-Header.png); */
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  /* width: 100%; */
  display: flex;
  background-position: center;
  position: relative;
  justify-content: center;
  align-items: center;
}
.index-banner::before {
  content: "";
  position: absolute;
  top: 10;
  background: rgba(253, 194, 9, 0.95) none repeat scroll 0 0;
  z-index: 1 !important;
  width: 100%;
  height: 600px;
}
.content-banner {
  z-index: 2 !important;
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  /* color: white;
  font-size: 80px; */
}
.btn-banner {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 18px 40px 18px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  transition: all 500ms ease;
  position: relative;
  border-radius: 3px;
  background: #252525;
  color: #fdc209;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.text-banner {
  width: 80%;
  /* line-height: 25px; */
}
.text-banner h1 {
  font-size: 54px;
  line-height: 60px;
  font-weight: bold;
}
.text-banner p {
  font-size: 18px;
}
.banner-right-img {
  max-width: 100%;
  /* width: 1px; */
}
/* news */
.news-topstory-style {
  /* width: 100%; */
  max-width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 3px !important;
  height: 182px;
}
.status-news-topstory {
  font-weight: 800;
  font-size: 12px;
}
.readmore {
  position: absolute;
  left: 76%;
  top: 75%;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px;
  font-size: 10px;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  transition: all 0.4s ease;
}
.readmore:hover {
  box-shadow: 0px 7px 7px 0px rgba(75, 77, 82, 0.164);
}
.lasts-news-card {
  height: 100%;
  transition: 0.2s;
  border-left: 1px solid rgba(211, 187, 114, 0.452);
  border-right: 1px solid rgba(211, 187, 114, 0.65);
  border-bottom: 1px solid rgba(211, 187, 114, 0.65);
  border-radius: 3px 3px 3px 3px !important;
  /* box-shadow: 0 16px 64px -16px rgba(46, 55, 77, 0.1); */
  cursor: pointer;
}
.lasts-news-style {
  height: 350px;
  cursor: pointer;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 3px 3px 0 0 !important;
  max-width: 100%;
}
.content-lasts-news {
  padding: 15px;
}
.content-lasts-news h1 {
  line-height: 35px;
  font-weight: bold;
}
.data-last-news {
  margin-top: -15px !important;
  font-size: 11px;
}
.readmore-last-news {
  position: absolute;
  left: 75%;
  width: 150px;
  top: 90%;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px;
  font-size: 10px;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  transition: all 0.4s ease;
}

/* footer */

.footer-background {
  background-color: #262e3c;
}
.link-footer {
  color: white;
  font-size: 14px;
}
.logo-footer {
  color: #fce24a;
}
.social-footer span {
  padding-left: 20px;
}
.facebook-scial-logo {
  font-size: 40px;
  color: #fce24a;
}
.facebook-scial-logo:hover {
  color: #1877f2;
  cursor: pointer;
}
.twitter-social-logo {
  font-size: 40px;
  color: #fce24a;
}
.twitter-social-logo:hover {
  color: #1c9cea;
  cursor: pointer;
}
.linkin-socail-logo {
  color: #fce24a;
  font-size: 40px;
}
.linkin-socail-logo:hover {
  color: #0e76a8;
  cursor: pointer;
}
.term {
  margin-top: 12px;
}
.term a {
  font-size: 17px;
}
.divider-footer {
  border-top: 1px solid rgb(80, 93, 116) !important;
}
.divider-horizental {
  border-left: 1px solid rgb(80, 93, 116) !important;
  height: 21px;
}
.widget-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  border-bottom: 3px solid #fce24a;
  border-bottom-color: #fce24a;
  color: #f5f5f5;
  line-height: 24px;
  letter-spacing: 0.8px;
  display: inline-block;
}
.widget-text {
  color: #f5f5f5;
}
.input-form-footer {
  border-radius: 3px;
}
/* .input-form-footer:focus {
  border: none !important;
  box-shadow: none !important;
}
.input-form-footer:hover {
  border: none !important;
} */
.sub-btn-footer {
  background-color: #fce24a;
  border: none;
  border-radius: 3px;
  width: 150px;
  font-weight: 600;
  /* padding: 7px 0 7px 0; */
}
.ant-btn.sub-btn-footer:hover {
  background-color: #ffed82 !important;
  color: black;
}
.ant-btn.sub-btn-footer:focus {
  background-color: #fce24a !important;
  color: black;
}
.sub-icon-footer {
  margin-top: 1px;
  font-size: 14px;
  display: none;
}
.des-footer {
  color: white;
}
.content-footer h2 a {
  color: #e2e2e2;
  font-size: 18px;
}
.content-footer {
  margin-top: 12px;
  line-height: 25px;
}

/* Learn */

.learn-card {
  background: #fff;
  border-radius: 8px;
  height: 100%;
  transition: 0.2s;
  box-shadow: 0 16px 64px -16px rgba(46, 55, 77, 0.1);
  cursor: pointer;
}
.learn-style {
  height: 182px;
  cursor: pointer;
  width: 100%;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 3px 3px 0 0 !important;
  max-width: 100%;
}
.content-learn {
  padding: 15px;
}
.readmore-learn {
  position: absolute;
  left: 69%;
  top: 87%;
  font-weight: bold;
  border-radius: 3px;
  padding: 7px;
  font-size: 10px;
  color: white;
  border: none;
  background-color: black;
  cursor: pointer;
  transition: all 0.4s ease;
}
.readmore-learn:hover {
  box-shadow: 0px 7px 7px 0px rgba(75, 77, 82, 0.164);
}
