.input_title input{
    width: 100%;
    font-size: 38px;
    font-weight:500;
    border: none;
    outline: none;
    background: none;
}
.input_title input::placeholder{
    color: #b3b3b1;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
}
.thumnail{
    width: 100%;
    font-size: 38px;
    height: 60vh;
    object-fit: cover;
}
.upload_thumnail{
    width: 100%;
    height: 60vh;
}
.text_story input{
    width: 100%;
    font-size: 24px;
    border: none;
    outline: none;
    background: none;
}

.text_story input::placeholder{
    color: #b3b3b1;
    font-family: medium-content-title-font,Georgia,Cambria,"Times New Roman",Times,serif;
}