.ct_pf{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.ct_pf .content_pf {
    display: flex;
    align-items: center;
}
.content_pf .ct_total{
    display: flex;
    padding-left: 20px;
}
.content_pf .ct_total .tt_story{
    padding-right: 20px;
}
.content_pf .ct_total a{
    font-size: 15px;
    font-weight: 600;
    color: #38a7c8;
}
.content_pf .ct_total label{
    font-weight: 500;
    font-size: 14px;
} 
.ct_pf .btn_flw{
    background: #ffff;
    border-color: #38a7c8;
    color: #38a7c8;
    padding: 18px 36px;
    line-height: 0px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
}

.ct_pf .btn_flw:hover{
    background: #38a7c8;
    color: #ffff;
}